<p><h2>
  <b>Game Name:</b>
  <%= @post.name %></h2>
</p>

<p>
  <b>Game Title:</b>
  <%= @post.title %>
</p>

| <%= link_to 'Show all players', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |

<h3>Players ( Total: <%= @post.games.count %> )</h3>
  <% @post.games.each do |game| %>
    <ul>
      <li>    
      <div>      
        <%= game.fname %> --  
        <%= link_to  "Remove", remove_post_path(@post.id,game.id)  %>
        </div>
      </li>
    </ul>
  <% end %>

<h3>Pickup Players</h3>
<% @post.rosters.playernogame.each do |roster| %>
    <ul>
    <li>    
    <%= roster.fname %> -- 
      <%= link_to 'Add Player', addplayer_post_path(@post.id,roster.id) %>
              </li>
    </ul>
  <% end %>
  <br />


